{% extends 'blog/base.html' %}
{% load static %}
{% block header %}
  <header class="masthead" style="background-image: url('{% static 'img/home-bg.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h2>Welcome in my blog</h2>
            <span class="subheading">by Ostrovskiy</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% for post in posts %}
                    <div class="post-preview">
                        <a href="{% url 'detail_post' post.pk %}">
                            <h2 class="post-title">
                                {{ post.title }}
                            </h2>
                            <h3 class="post-subtitle">
                                Some subtitle
                            </h3>
                        </a>
                        <p class="post-meta">Posted by
                            <a href="#">{{ post.author }}</a>
                            on some date</p>
                    </div>
                    <hr>
                {% endfor %}
                <!-- Pager -->
                <div class="clearfix">
                    <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
                </div>
            </div>
        </div>
    </div>

    <hr>
{% endblock %}

{#{% block content %}#}
{#    {% for post in posts %}#}
{#        <div class="post-entry">#}
{#           <h2><a href="{% url 'detail_post' post.pk %}">{{ post.title }}</a></h2>#}
{#            <p>{{ post.body }}</p>#}
{#            <hr>#}
{#        </div>#}
{#    {% endfor %}#}

{#{% endblock content %}#}